  #wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}
#wrapper.toggled {
    padding-left: 250px;
    /*overflow-y: scroll;*/
}

#sidebar-wrapper {
    position: fixed;
    left: 250px;
    z-index: 1000;
    overflow-y: auto;
    margin-left: -250px;
    width: 0;
    height: 100%;
    background: #ddd;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
     /*overflow:scroll;*/
     overflow-y: scroll;
}

#wrapper.toggled #sidebar-wrapper {
    width: 200px;
}

#page-content-wrapper {
    padding: 15px;
    width: 100%;

}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;

}
.panel-group
{
  margin-left: 250px;
  height:100px;
  width:500px;
  border:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  /*color: transparent;*/
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    width: 250px;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    color: black;
    text-decoration: none;
}

.sidebar-nav li a:hover {
    background: rgba(255, 255, 255, 0.2);
    color:#fff;
    text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: black;
}
.sidebar-nav > .sidebar-brand a:hover {
    background: none;
    color: #fff;
}
.input-group
{
  width: 50%;
  margin-left: 200px;
  margin-top:7px;
/*background-color: orange;*/
}
#google
{
  text-align: center;
  color:black;
}
/*#panel1
{
  background:none;
  border: none;
}*/
#btn1
{
  background-color:orange;
}
#search
{
  background-color: orange;
}
body
{
  background-color: #e8e8e8;
}
#done
{
  margin-left: 420px;
  background:none;
     border:none;
     padding:0;
  /*position: absolute;*/
  /*right:0;
  bottom: 0;*/
}

@media (min-width: 500px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }



}
#navbar
{
  background-color:orange;
}
h3
{
  margin-left: 50px;
}
.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    color: #999999;
    text-decoration: none;
}

.sidebar-nav li a:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    background: none;
    color: #fff;
}

@media (min-width: 500px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
  #containerbox:before, #containerbox:after {
    display:table;
    content:"";
    zoom:1 /* ie fix */;
}

#containerbox:after {
    clear:both;
}

#containerbox {
    width:300px;
    margin:0 auto;
    border:1px solid #fff;
    box-shadow:0px 2px 7px #292929;
    -moz-box-shadow: 0px 2px 7px #292929;
    -webkit-box-shadow: 0px 2px 7px #292929;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background-color:#ffffff;
}
.mainbody {

    border: solid #eee;
    border-width:1px 0;
    min-height:100px;
    /*overflow: hidden;*/
    outline:none;
    box-sizing: border-box;
    overflow-y: auto;
}


.header, .footer {

    padding: 5px;
}
[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block;
}
#title
{
width:100%;
outline:none;
border:none;
}
#card
{
  min-height: 150px;
  width:20%;
  word-wrap: break-word;
  background-color: white;
}
/*.grid-item { width: 25%; }
.grid-item--width2 { width: 80%; }*/
/*#container
{
  margin-left: 200px;
}*/
#modeltitle
{
  width:100%;
  border: none;
  outline: none;
}
